{% extends "email/base_email.html" %}

{% block content %}
<h2>Security Update</h2>
<p>We received a request to reset the password for your EShop Pro account. If you didn't make this request, you can
    safely ignore this email.</p>

<p>To set a new password, please click the button below. This link will expire in 1 hour for your security.</p>

<div class="button-container">
    <a href="{{ reset_url }}" class="button">Reset Password</a>
</div>

<p>Or copy and paste this link into your browser:</p>
<p style="font-size: 11px; word-break: break-all; color: #6c757d;">{{ reset_url }}</p>

<p>If you need further assistance, please contact our security team.</p>
<p>Best regards,<br><strong>The EShop Pro Security Team</strong></p>
{% endblock %}